@import "../libs";

@mixin footer($color: $LIGHT_COLOR) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 200px;
  border-top: $BORDER_WIDTH solid lightColor($color);
  box-sizing: border-box;
  transition: border-color ease 0.5s;
  color: reverseColor($color);
  h3 {
    margin-bottom: 0.5em;
  }
  ul {
    display: flex;
    margin-bottom: 0.5em;
    li {
      list-style: none;
      margin-right: 1em;
      &:last-child { margin-right: 0; }
      a {
        svg {
          fill: reverseColor($color);
          width: 35px;
          height: 35px;
        }
      }
    }
  }
  .footer-copyright  {
    text-align: center;
    font-size: 0.6em;
  }
}

.footer {
  @include footer;
}

.footer-dark {
  @include footer($DARK_COLOR);
}