@import "../libs/";

@mixin intro($color: $LIGHT_COLOR) {
  h1, h3, p { word-break: keep-all; }
  .profile {
    @include mobile { padding-top: 0; }
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    color: reverseColor($color);
    overflow: hidden;
    .profile-intro {
      @include mobile { flex-direction: column; }
      width: 100%;
      display: flex;
      .profile-image {
        width: 10em;
        .ratio {
          padding-top: 100%;
          position: relative;
          img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: $BORDER_RADIUS;
          }
        }
      }
      .profile-info {
        @include mobile {
          width: 100%;
          margin: 0;
        }
        margin-left: 30px;
        width: calc(100% - 10em);
        .profile-text {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          h1 {
            font-size: 2.5em;
            margin-bottom: 0.5em;
          }
          h3 {
            font-weight: 400;
          }
        }
      }
    }
    .profile-about {
      margin-top: 30px;
      h1 {
        font-size: 1.7em
      }
      p {
        font-weight: 200;
      }
    }
  }
}

.intro {
  @include intro;
}

.intro-dark {
  @include intro($DARK_COLOR);
}