@import "../libs";

@mixin toc($color: $LIGHT_COLOR) {
  @include tablet { padding: 0; }
  padding: 60px 0;
  font-weight: 500;
  background: url(../../img/overlay.png), $color;
  transition: background-color ease 0.5s;
  .toc-list {
    a {
      display: block;
      text-decoration: none;
      color: reverseColor($color);
      transition: background-color ease 0.5s;
      @media (hover: hover) {
        &:hover {
          background: url(../../img/overlay.png), darkColor($color);
        }
      }
    }
    > a {
      padding: 5px 15px 5px 15px;
    }
    .toc-auto {
      > ul > li {
        > p > a, > a {
          padding: 5px 15px 5px 30px;
        }
        > ul > li {
          > p > a, > a {
            padding: 5px 15px 5px 50px;
          }
          > ul > li {
            > p > a, > a {
              padding: 5px 15px 5px 70px;
            }
            > ul {
              display: none;
            }
          }
        }
      }
      li {
        list-style: none;
      }
    }
    .active {
      background: url(../../img/overlay.png), darkColor($color);
    }
  }
}

.toc {
  @include toc;
}

.toc-dark {
  @include toc($DARK_COLOR);
}