@import "../libs/";

@mixin not-found($color: $LIGHT_COLOR) {
  height: 100%;
  ._404 {
    height: calc(var(--vh, 1vh) * 100 - $HEADER_HEIGHT - 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1, p, a {
      color: darkColor($color);
    }
    h1 {
      font-size: 8em;
      line-height: 1;
    }
    p {
      font-size: 1.7em;
      font-weight: bolder;
    }
  }
}

.not-found {
  @include not-found;
}

.not-found-dark {
  @include not-found($DARK_COLOR);
}