@import "../libs";

@mixin post($color: $LIGHT_COLOR) {
  height: 100%;
  display: flex;
  .aside {
    height: 100%;
    .post-toc {
      @include tablet { display: none; }
      @include hidden-scroll;
      width: 300px;
      height: 100%;
      border-right: $BORDER_WIDTH solid lightColor($color);
      transition: border-color ease 0.5s;
    }
  }
  .section {
    @include tablet { width: 100%; }
    width: calc(100% - 302px);
    height: 100%;
    .post-wrap {
      overflow: hidden;
      padding: 30px 0;
      color: reverseColor($color);
      .post-head {
        h1 {
          line-height: 1.2;
          font-size: 2.5em;
        }
        i {
          color: $MEDIUM_COLOR;
        }
        .post-tags {
          display: flex;
          flex-wrap: wrap;
          margin-top: 5px;
          list-style: none;
          li {
            margin: 0 5px 10px 0;
            a {
              background: $MEDIUM_COLOR;
              color: $color;
              border-radius: 7px;
              padding: 4px 8px;
              text-decoration: none;
            }
          }
        }
      }
      .post-body {
        deckgo-highlight-code {
          margin: 0.5em;
        }
        margin-top: 4em;
        h1, h2 {
          border-bottom: $BORDER_WIDTH solid reverseColor($color);
          margin: 0.75em 0;
        }
        h3 {
          margin: 0.75em 0;
        }
        h1 {
          font-size: 2em;
        }
        p {
          margin-bottom: 1.5em;
        }
        hr {
          border-color: reverseColor($color);
          border-style: solid;
        }
        code {
          font-family: "AppleSDGothicNeo";
          background: reverseColor($color);
          color: $color;
          border-radius: 7px;
          padding: 1px 4px;
          font-size: 0.9em;
        }
        ul {
          padding-left: 20px;
          margin-bottom: 1.5em;
        }
        a {
          color: $MEDIUM_COLOR;
        }
        img {
          border-radius: $BORDER_RADIUS;
        }
        table {
          font-size: 0.9em;
          width: 100%;
          padding: 0.5em;
          border-collapse: collapse;
        }
        th,
        td {
          padding: 0.2em 0.5em;
        }
        td {
          border-left: 2px solid reverseColor($color);
          &:first-child {
            border-left: none;
          }
          border-top: 1px solid reverseColor($color);
        }
        th {
          border-left: 2px solid $color;
          &:first-child {
            border-left: none;
          }
          background-color: reverseColor($color);
          color: $color;
        }
      }
    }
  }
  .post-footer-wrap {
    border-top: $BORDER_WIDTH solid lightColor($color);
    transition: border-color ease 0.5s;
    width: 100%;
    .post-footer {
      padding: 30px;
      display: flex;
      justify-content: center;
      ul {
        width: 100%;
        max-width: 60em;
        display: flex;
        flex-direction: column;
        li {
          list-style: none;
          border-bottom: $BORDER_WIDTH solid lightColor($color);
          transition: border-color ease 0.5s;
          &:last-child {
            border: 0;
          }
        }
      }
    }
  }
  .post-comment {
    width: 100%;
  }
}

.post {
  @include post;
}

.post-dark {
  @include post($DARK_COLOR);
}