@import "../libs";

@mixin post($color: $LIGHT_COLOR) {
  height: 100%;
  display: flex;
  .aside {
    height: 100%;
    background: url(../../img/overlay.png), $color;
    transition: background-color ease 0.5s;
    .post-toc {
      @include tablet { display: none; }
      @include hidden-scroll;
      width: $SIDE_WIDTH;
      height: 100%;
      border-right: $BORDER_WIDTH solid lightColor($color);
      box-sizing: border-box;
      transition: border-color ease 0.5s;
    }
  }
  .article {
    @include tablet { width: 100%; }
    width: calc(100% - $SIDE_WIDTH);
    height: 100%;
    .post-wrap {
      overflow: hidden;
      color: reverseColor($color);
      .post-head {
        h1 {
          word-break: keep-all;
          line-height: 1.2;
          font-size: 2.5em;
        }
        i {
          color: $MEDIUM_COLOR;
        }
        .post-tags {
          display: flex;
          flex-wrap: wrap;
          margin-top: 10px;
          list-style: none;
          li {
            margin: 0 5px 10px 0;
            a {
              background: $MEDIUM_COLOR;
              color: $color;
              border-radius: 7px;
              padding: 4px 8px;
              text-decoration: none;
            }
          }
        }
      }
      .post-body {
        margin-top: 4em;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        li {
          code {
            font-family: "AppleSDGothicNeo";
            background: reverseColor($color);
            color: $color;
            border-radius: 7px;
            padding: 1px 4px;
            font-size: 0.9em;
          }
        }
        blockquote {
          border-left: 13px solid darkColor($color);
          transition: border-color ease 0.5s;
          margin: 20px;
          padding: 10px 20px;
          p {
            font-size: 1.17em;
            margin-bottom: 0;
          }
        }
        h1,
        h2 {
          border-bottom: $BORDER_WIDTH solid reverseColor($color);
          margin: 0.75em 0;
        }
        h1 {
          font-size: 2em;
        }
        h3 {
          margin: 0.75em 0;
        }
        p {
          margin-bottom: 1.5em;
        }
        a {
          color: $MEDIUM_COLOR;
        }
        > ul, ol { 
          margin-bottom: 1.5em;
        }
        ul,
        ol {
          list-style-position: inside;
          padding-left: 1em;
          ::marker {
            font-weight: bold;
          }
        }
        ol {
          p {
            margin-bottom: 0;
          }
        }
        hr {
          border-color: lightColor($color);
          border-style: solid;
          border-width: 2px 0 0 0;
          transition: border-color ease 0.5s;
        }
        img {
          border-radius: $BORDER_RADIUS;
        }
        table {
          font-size: 0.9em;
          width: 100%;
          padding: 0.5em;
          margin-bottom: 1.5em;
          border-collapse: collapse;
        }
        th,
        td {
          padding: 0.2em 0.5em;
        }
        td {
          border-left: 2px solid reverseColor($color);
          &:first-child {
            border-left: none;
          }
          border-top: 1px solid reverseColor($color);
        }
        th {
          border-left: 2px solid $color;
          &:first-child {
            border-left: none;
          }
          background-color: reverseColor($color);
          color: $color;
        }
      }
    }
  }
  .post-comment {
    width: 100%;
    color: reverseColor($color);
    h1 {
      font-size: 2em;
      border-bottom: $BORDER_WIDTH solid reverseColor($color);
      margin: 0.75em 0;
    }
  }
  .post-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: reverseColor($color);
    h1 {
      font-size: 2em;
      width: 100%;
      border-bottom: $BORDER_WIDTH solid reverseColor($color);
      margin: 0.75em 0;
      span {
        color: $MEDIUM_COLOR;
      }
    }
    ul {
      width: 100%;
      max-width: 60em;
      display: flex;
      flex-direction: column;
      li {
        border-bottom: $BORDER_WIDTH solid lightColor($color);
        transition: border-color ease 0.5s;
        padding: 15px 0;
        list-style: none;
        &:last-child {
          border: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}

.post {
  @include post;
}

.post-dark {
  @include post($DARK_COLOR);
}