@import "../libs";

.layout {
  width: 100%;
  max-width: 60em;
  .wrapper-min-height {
    min-height: calc(var(--vh, 1vh) * 100 - 62px);
    .wrapper-padding {
      @include tablet { padding: 30px 25px; }
      @include mobile { padding: 30px 20px; }
      padding: 30px;
    }
  }
}