@import "../libs";

@mixin layout($color: $LIGHT_COLOR) {
  @include tablet { @include hidden-scroll; }
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  color: darkColor($color);
  border-color: lightColor($color);
  transition: color ease 0.5s, border-color ease 0.5s;
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    border-left-width: $BORDER_WIDTH;
    border-left-style: solid;
    border-left-color: inherit;
  }
  &::-webkit-scrollbar-thumb {
    color: inherit;
    box-shadow: inset 0 0 0 10px;
  }
  .max-width {
    width: 100%;
    max-width: 60em;
    .min-height {
      min-height: calc(var(--vh, 1vh) * 100 - $HEADER_HEIGHT);
      background: url(../../img/overlay.png) $color;
      transition: background-color ease 0.5s;
      .padding {
        @include tablet { padding: 60px 25px; }
        @include mobile { padding: 60px 20px; }
        padding: 60px 30px;
      }
    }
  }
}

.layout {
  @include layout;
}

.layout-dark {
  @include layout($DARK_COLOR);
}