@import "../libs";

@mixin layout($color: $LIGHT_COLOR) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: url(../../img/overlay.png), $color;
  transition: background-color ease 0.5s;
  .header {
    height: 60px;
    border-bottom: $BORDER_WIDTH solid lightColor($color);
    transition: border-color ease 0.5s;
  }
  .main {
    width: 100%;
    height: calc(100% - 62px);
    display: flex;
    .nav {
      height: 100%;
    }
    .section {
      width: 100%;
      height: 100%;
    }
    .big {
      @include desktop {
        width: calc(100% - 302px);
      }
    }
    .small {
      @include desktop {
        width: calc(100% - 62px);
      }
    }
  }
}

.layout {
  @include layout;
}

.layout-dark {
  @include layout($DARK_COLOR);
}