@import "../libs";

@mixin layout($color: $LIGHT_COLOR) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  .dummy-height {
    height: 100%;
    width: 0;
  }
  .scroll {
    @include custom-scroll($color);
    @include tablet { @include hidden-scroll; }
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.layout {
  @include layout;
}

.layout-dark {
  @include layout($DARK_COLOR);
}