@import "../fonts/font.css";
@import "./libs";

html {
  @include tablet { font-size: 1em; }
  font-family: "AppleSDGothicNeo";
  font-size: 1.125em;
  overflow: hidden;
  /* Prevent font scaling in landscape */
  -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/
  -moz-text-size-adjust: none; /*firefox*/
  -ms-text-size-adjust: none;  /*Ie*/
  -o-text-size-adjust: none; /*old versions of Opera*/
  * {
    margin: 0;
    padding: 0;
    word-break: break-all;
  }
}